{% extends "layout.html" %}

{% block title %}Bookmarks{% endblock %}

{% block content %}
    {% for f in flash %}
        <div class="alert alert-{{ f|first }}" role="alert">
            {{ f|rest }}
        </div>
    {% endfor %}
    <div>
        <form method="POST" action="/bookmarks" class="row">
            {% form-authenticity-token %}
            <div class="col">
                <input class="form-control" name="url" type="url" value=""/>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Add bookmark</button>
            </div>
        </form>
    </div>
    <div class="mt-4">
        <form method="GET" action="/bookmarks" class="row">
            <div class="col">
                <input class="form-control" name="q" type="text" value=""/>
            </div>
            <div class="col">
                <button class="btn btn-primary" type="submit">Search</button>
                <a class="btn btn-secondary" href="/bookmarks">Reset</a>
            </div>
        </form>
    </div>
    <div class="mt-4">
        {% if bookmarks %}
            <ul class="list-group">
                {% for bookmark in bookmarks %}
                    <li class="list-group-item list-group-item-action d-flex justify-content-between">
                        <a class="link-dark" href="{{ bookmark.url }}">
                            {{ bookmark.title }}
                        </a>
                        <div class="d-flex column-gap-2">
                            <form method="POST" action="/bookmarks/{{ bookmark.id }}" onsubmit="return confirm('Are you sure?')">
                                {% form-authenticity-token %}
                                <input name="_method" type="hidden" value="delete"/>
                                <input type="submit" value="Delete" class="btn btn-outline-danger" />
                            </form>
                            <a role="button" class="btn btn-outline-primary" href="/bookmarks/{{ bookmark.id }}">
                                <i class="bi bi-file-earmark-text"></i>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No bookmarks</p>
        {% endif %}
    </div>
{% endblock %}
